[submodule "SVM"]
	path = SVM
	url = https://github.com/fardinabbasi/SVM
[submodule "Expectation_Maximization"]
	path = Expectation_Maximization
	url = https://github.com/fardinabbasi/Expectation_Maximization
[submodule "PCA"]
	path = PCA
	url = https://github.com/fardinabbasi/PCA
[submodule "Decision_Tree"]
	path = Decision_Tree
	url = https://github.com/fardinabbasi/Decision_Tree
[submodule "Neural_Networks"]
	path = Neural_Networks
	url = https://github.com/fardinabbasi/Neural_Networks
[submodule "ParzenWindow"]
	path = ParzenWindow
	url = https://github.com/fardinabbasi/ParzenWindow
[submodule "Linear_Regression"]
	path = Linear_Regression
	url = https://github.com/fardinabbasi/Linear_Regression
[submodule "Logistic_Regression"]
	path = Logistic_Regression
	url = https://github.com/fardinabbasi/Logistic_Regression
[submodule "Bayes_Classifier"]
	path = Bayes_Classifier
	url = https://github.com/fardinabbasi/Bayes_Classifier
